.root__header {
	position: fixed;
	top: 0;
	inset-inline: 0;

	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	padding-right: calc(var(--orientation-container-width) / 2 - 1ch);

	width: 100%;

	z-index: var(--layer-3);

	.icon {
		display: grid;
		place-items: center;

		height: 100%;
		width: var(--orientation-container-width);
		color: var(--clr-accent-700);
		font-weight: 300;

		cursor: pointer;

		&:enter {
			color: var(--clr-accent-700);
		}
	}

	.list {
		display: grid;
		grid-auto-flow: column;
		gap: 0.25rem;
		align-items: center;

		margin-inline-start: auto;

		width: fit-content;

		a {
			display: inline-block;
			font-family: var(--font-mono);
			font-size: 0.75rem;
			text-transform: capitalize;
			letter-spacing: var(--font-letterspacing-2);
			user-select: none;
		}

		&__link {
			padding: 1.75rem 2.5rem;

			will-change: color;
			transition: color 200ms ease-out;

			&:enter {
				color: var(--clr-accent-700);
			}
		}

		&__resume {
			border-radius: var(--rounded-sm);
			border: 1px solid currentColor;
			padding: 0.75rem 1.25rem;

			color: var(--clr-accent-700);

			will-change: background-color;
			transition: background-color 300ms ease-out;

			&:enter {
				background-color: hsl(var(--clr-accent-700-hsl) / 0.25);
			}
		}
	}
}
