.main--home {
	display: grid;
	grid-template-columns: 1fr;

	@media (--lg-n-above) {
		grid-template-columns: var(--orientation-container-width) 1fr var(
				--orientation-container-width
			);
	}

	width: 100%;
	min-height: 100vh;

	.main-orientation {
		position: fixed;
		top: 0;
		bottom: 0;

		display: grid;
		justify-content: center;
		gap: 1rem;

		width: var(--orientation-container-width);
		height: 100%;

		grid-template-rows: 1fr 7rem;

		color: var(--clr-surface-200);

		nav:hover + &::after {
			background-color: red;
		}

		&::after {
			content: "";

			background-color: hsl(var(--clr-surface-200-hsl) / 0.25);
			height: 100%;
			width: 1px;
			margin-inline: auto;
		}

		.email {
			display: grid;
			place-items: center;
			margin-top: auto;

			font-size: var(--font-size-03);
			font-family: var(--font-mono);
			writing-mode: vertical-rl;
			text-orientation: sideways;
			letter-spacing: var(--font-letterspacing-2);

			user-select: none;
		}
	}

	.main {
		@media (--lg-n-above) {
			grid-column: 2/2;
		}
	}

	.secOne {
		&::before,
		&::after {
			$property: transform, background-color, filter;

			content: "";
			position: absolute;

			backface-visibility: hidden;
			will-change: $property;
			transition-property: $property;
			transition: 300ms ease-out;

			filter: blur(8rem);
			z-index: -1;
		}

		@media (--lowContrast) {
			&::before,
			&::after {
				content: none;
			}
		}

		&::before {
			top: 40%;
			left: 50%;

			width: var(--size-fluid-8);
			aspect-ratio: var(--ratio-golden);
			border-radius: var(--radius-blob-4);
			background-color: hsl(var(--clr-surface-600-hsl) / 0.25);

			transform: translate(var(--pos-x-1), var(--pos-y-1));
		}

		&::after {
			top: 40%;
			left: 40%;

			width: var(--size-fluid-8);
			aspect-ratio: var(--ratio-portrait);
			border-radius: var(--radius-blob-3);
			background-color: hsl(var(--clr-surface-400-hsl) / 0.25);

			transform: translate(var(--pos-x-2), var(--pos-y-2));
		}

		&:enter {
			&::before,
			&::after {
				filter: blur(7rem);
			}

			&::before {
				background-color: hsl(var(--clr-accent-600-hsl) / 0.5) !important;
			}
			&::after {
				background-color: hsl(var(--clr-accent-400-hsl) / 0.5) !important;
			}
		}
	}
}

.view {
	transition-property: transform, opacity;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	transition-delay: var(--in-view-delay, 200ms);
	transform: scale(0.95) translateY(0.5rem);
	opacity: 0;

	&--in {
		animation: inView var(--in-view-duration, 500ms) ease-out forwards;
	}
}

@keyframes inView {
	to {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

@keyframes outView {
	to {
		transform: scale(0.95) translateY(0.5rem);
		opacity: 0;
	}
}

.up {
	cursor: pointer;

	backface-visibility: hidden;
	will-change: transform, color;
	transition: transform 200ms ease-out, color 200ms ease-in 100ms;

	&:enter {
		transform: translateY(-0.25rem);
		color: var(--clr-accent-600);
	}
}
