.theme {
	display: grid;
	justify-items: center;
	align-items: center;
	gap: 0.75rem;

	// width: 100%;

	@media (--lg-n-above) {
		grid-auto-flow: column;
		justify-content: space-between;
		width: Min(100% - var(--size-fluid-8), 75ch + 25rem);
	}
	margin-inline: auto;

	.scheme {
		display: inherit;
		place-items: center;
		width: fit-content;

		border-radius: var(--rounded-full);
		border: 1px solid hsl(var(--clr-surface-600-hsl) / 0.5);
		padding: 0.75rem;

		span {
			position: relative;
			top: 1px;
		}
	}

	.list {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.75rem 1rem;

		width: calc(100vw - 6rem);

		@media (--lg-n-above) {
			// grid-auto-flow: column;
			padding-right: 1.5rem;
			padding-bottom: 0.875rem;
			width: 100%;
		}

		&__item {
			width: fit-content;
		}

		&__button {
			position: relative;
			$p-calc: 1.875rem * 0.5;
			padding: $p-calc;
			border-radius: var(--rounded-full);

			background-color: hsl(var(--hue, 0), 50%, 50%);

			transform: scale(0.8);

			will-change: transform;
			transition: transform 200ms ease-out;

			&:hover,
			&:focus-visible {
				transform: scale(1);
			}

			/* 			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;

				width: 200%;
				height: 100%;

				border-top-left-radius: 0;
				border-top-right-radius: var(--rounded-full);
				border-bottom-left-radius: 75vmax 50vmax;

				transform: rotate(315deg) translateX(5px) translateY(-33.33%);
			} */

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;

				width: 200%;
				height: 100%;

				border-top-left-radius: 50vmax;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: var(--rounded-full);

				transform: scale(1.2) rotate(45deg) translateX(6px) translateY(30%);
				background-color: hsl(calc(var(--hue, 0) + 0), 50%, 50%, 50%);
			}
		}

		/* 	&__item:nth-child(odd) button {
			&::after {
				background-color: hsl(calc(var(--hue, 30) + -30), 50%, 50%, 25%);
			}
			&::before {
				border-top-left-radius: 0;

				background-color: hsl(calc(var(--hue, 0) + 0), 50%, 50%, 50%);
			}
		}
 */
		&__item:first-child button {
			&::before {
				// border-top-left-radius: 75vmax 50vmax !important;
			}
		}

		/* 	&__item:nth-child(even) button {
			&::after {
				background-color: hsl(calc(var(--hue, 0) + 0), 50%, 50%, 50%);
				border-bottom-left-radius: 0;
			}
			&::before {
				background-color: hsl(calc(var(--hue, 30) + -30), 50%, 50%, 25%);
			}
		} */

		&__item:last-child button {
			&::after {
				width: 100%;

				transform: rotate(315deg) translate(0, 0.75px);
				background-color: hsl(calc(var(--hue, 0) + 0), 50%, 50%, 25%);

				border-bottom-left-radius: var(--rounded-full);
				border-bottom-right-radius: var(--rounded-full);
				border-top-right-radius: 0;
			}
			/* 		&::before {
				width: 100%;
				background-color: hsl(calc(var(--hue, 0) + 0), 50%, 50%, 50%);
				transform: rotate(45deg) translate(0, -0.75px);
				border-top-left-radius: var(--rounded-full);
				border-top-right-radius: var(--rounded-full);
				border-top-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			} */
		}
	}
}
