@use "../abstracts" as *;

@function hsl($h, $s, $l) {
	@return unquote("hsl(#{$h}, #{$s}, #{$l})");
}

$theme--dark: (
	shadow: (
		1000: hsl(0, 0%, 0%),
	),
	surface: (
		100: hsl(0, 0%, 90%),
		200: hsl(0, 0%, 80%),
		300: hsl(0, 0%, 70%),
		400: hsl(0, 0%, 60%),
		500: hsl(0, 0%, 50%),
		600: hsl(0, 0%, 40%),
		700: hsl(0, 0%, 30%),
		800: hsl(0, 0%, 20%),
		900: hsl(0, 0%, 10%),
	),
	accent: (
		100: hsl(0, 50%, 10%),
		200: hsl(0, 50%, 20%),
		300: hsl(0, 50%, 30%),
		400: hsl(0, 50%, 40%),
		500: hsl(0, 50%, 50%),
		600: hsl(0, 50%, 60%),
		700: hsl(0, 50%, 70%),
		800: hsl(0, 50%, 80%),
		900: hsl(0, 50%, 90%),
	),
);

$theme--light: (
	shadow: (
		1000: hsl(0, 0%, 100%),
	),
	surface: (
		100: hsl(0, 0%, 10%),
		200: hsl(0, 0%, 20%),
		300: hsl(0, 0%, 30%),
		400: hsl(0, 0%, 40%),
		500: hsl(0, 0%, 50%),
		600: hsl(0, 0%, 60%),
		700: hsl(0, 0%, 70%),
		800: hsl(0, 0%, 80%),
		900: hsl(0, 0%, 90%),
	),
	accent: (
		100: hsl(0, 50%, 90%),
		200: hsl(0, 50%, 80%),
		300: hsl(0, 50%, 70%),
		400: hsl(0, 50%, 60%),
		500: hsl(0, 50%, 50%),
		600: hsl(0, 50%, 40%),
		700: hsl(0, 50%, 30%),
		800: hsl(0, 50%, 20%),
		900: hsl(0, 50%, 10%),
	),
);

$theme--less: (
	shadow: (
		1000: hsl(0, 0%, 0%),
	),
	surface: (
		100: hsl(0, 0%, 95%),
		200: hsl(0, 0%, 90%),
		400: hsl(0, 0%, 85%),
		300: hsl(0, 0%, 80%),
		500: hsl(0, 0%, 50%),
		900: hsl(0, 0%, 20%),
		600: hsl(0, 0%, 15%),
		700: hsl(0, 0%, 10%),
		800: hsl(0, 0%, 05%),
	),
	accent: (
		200: hsl(0, 50%, 5%),
		300: hsl(0, 50%, 10%),
		400: hsl(0, 50%, 15%),
		100: hsl(0, 50%, 20%),
		500: hsl(0, 50%, 50%),
		900: hsl(0, 50%, 80%),
		600: hsl(0, 50%, 85%),
		700: hsl(0, 50%, 90%),
		800: hsl(0, 50%, 95%),
	),
);

@mixin theme($theme: $theme--dark) {
	@each $type, $shades in $theme {
		@each $shade, $color in $shades {
			$get-just-hsl-values: str-slice($color, 5, -2);
			$tale-out-coma: str-replace($get-just-hsl-values, ",", "");
			$add-var-hue: str-replace($tale-out-coma, "0 ", "var(--hue, 0) ");

			--clr-#{$type}-#{$shade}: hsl(#{$tale-out-coma});
			--clr-#{$type}-#{$shade}-hsl: #{$tale-out-coma};
		}
	}
}

:root {
	--hue: 50;
	@include theme;
}

// @media (--OSlight) {
// 	:root {
// 		@include theme($theme--light);
// 	}
// }

@media (--lowContrast) {
	:root {
		@include theme($theme--less);
	}
}
