@use "../abstracts/" as *;
@use "sass:string";

//? Prevent Hsl to transform in Hex.
@function hsl($h, $s, $l) {
	@return unquote("hsl(#{$h}, #{$s}, #{$l})");
}

$colors: (
	primary: (
		// Slate
		10: hsl(215, 20%, 65%),
		20: hsl(215, 16%, 47%),
		30: hsl(215, 25%, 27%),
		40: hsl(217, 33%, 17%),
	),
	secondary: (
		// Violet
		10: hsl(263, 69%, 42%),
		// Blue
		20: hsl(217, 91%, 60%),
		// Rose
		30: hsl(347, 77%, 50%),
		// Green
		40: hsl(142, 76%, 36%),
	),
);

:root {
	@each $color, $shades in $colors {
		@each $shade, $clr in $shades {
			$break-hsl: string.slice($clr, 5, -2);
			$clean-hsl: str-replace($break-hsl, ",", "");

			--clr-#{$color}-#{$shade}: #{$clr};
			--clr-#{$color}-#{$shade}-hsl: #{$clean-hsl};
		}
	}
}
