.about-me {
	display: grid;
	gap: var(--size-fluid-2);

	margin: auto;
	padding-block: 10rem;

	width: calc(100% - 2rem);

	@media (--lg-n-above) {
		width: Min(clamp(45ch, 100%, 65ch) + 22rem, 100% - 4rem);
	}

	@media (--xl-n-above) {
		grid-template-columns: clamp(45ch, 2fr, 65ch) 1fr;
	}

	.paragraph,
	.footer {
		grid-column-start: 1;
		width: 100%;

		// width: calc(100% - 2rem);s
		@media (--sm-n-above) {
			// width: clamp(45ch, 100%, 65ch);
		}

		@media (--lg-n-below) {
			margin-inline: auto;
		}
	}

	.paragraph {
		line-height: var(--font-lineheight-3);
		// letter-spacing: var(--font-letterspacing-0);
		// font-size: var(--font-size-05);
		font-size: var(--size-3);
	}

	.footer {
		&__list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
			gap: 1rem;
		}

		&__item {
			display: flex;
			align-items: center;

			font-family: var(--font-mono);
			text-transform: capitalize;
			font-size: var(--font-size-03);
		}

		&__icon {
			color: var(--clr-accent-500);
			transform: scale(1.5, 0.9) translate(-0.35rem, -0.125rem);
			user-select: none;
			width: 1ch;
		}
	}

	.img {
		--fv-shadow-inset: none;

		$dislocation: var(--size-fluid-2);
		position: relative;

		grid-column-start: 1;
		grid-row-start: 4;

		border-radius: var(--rounded-sm);
		margin-inline: auto;
		margin-top: 4rem;

		width: 22rem;

		aspect-ratio: 1/1;

		isolation: isolate;

		@media (--lg-n-above) {
			margin-top: 0;
			grid-column-start: 2;
			grid-row: 2 / span 2;
			margin-inline: auto calc($dislocation + 4px);
			width: 100%;
		}

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: -1;

			outline: 4px solid var(--clr-accent-500);
			border-radius: inherit;
			transform: scale(1.05);

			backface-visibility: hidden;
			will-change: transform;
			transition: transform 200ms ease-out 100ms;

			@media (--lg-n-above) {
				transform: translate($dislocation, $dislocation);
			}
		}

		&::after {
			content: "";
			position: absolute;
			inset: 0;

			outline: 2px solid var(--clr-accent-500);
			outline-offset: -1px;
			background-color: hsl(var(--clr-accent-200-hsl) / var(--alpha, 0.5));
			border-radius: inherit;

			mix-blend-mode: overlay;

			will-change: background-color, outline;
			transition: background-color 200ms ease-out, outline 200ms ease-out;
		}

		img {
			margin: auto;
			width: 100%;
			border-radius: inherit;
			aspect-ratio: 1/1;
			object-fit: cover;
			filter: grayscale(1);

			backface-visibility: hidden;
			will-change: transform, filter, border-radius;
			transition-property: transform, filter, border-radius;
			transition: transform 200ms ease-out 100ms;
		}

		&:hover,
		&:focus-within {
			&::before {
				transform: translate(0, 0) scale(0.98);
			}
			&::after {
				--alpha: 0.875;
				outline-width: 5px;
			}
			img {
				transform: scale(1.1);
				filter: grayscale(0);
				border-radius: calc(var(--rounded-sm) * 2);
			}
		}
	}
}
