@use "../../abstracts" as *;

.email-from {
	&[open] {
		display: grid;
		place-items: center;

		border: 0;
		border-radius: var(--rounded-sm);
		padding: 1rem;

		width: Min(100% - 2rem, 40rem);

		color: currentColor;
		background-color: var(--clr-surface-800);
		box-shadow: 0 8px 18px 4px hsl(var(--clr-shadow-1000-hsl) / 0.25);

		overflow: visible;
		isolation: isolate;

		@include supports-backdrop-filter() {
			box-shadow: 0 0 0 100vmax hsl(var(--clr-surface-900-hsl) / 0.975);
		}

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: 1;
		}
	}

	&::backdrop {
		background-color: hsl(var(--clr-shadow-1000-hsl) / 0.25);

		backdrop-filter: blur(1rem);
	}

	.form {
		display: grid;
		gap: 1rem;
		width: 100%;
		z-index: 10;

		&__send-info {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
			gap: 1.5rem;
		}

		&__message {
			--scroll-transparent: var(--clr-surface-700);
			display: grid;
		}
	}

	.legend {
		width: fit-content;
		margin: auto;
	}

	$input-x-padding: 0.75rem;
	$input-y-padding: 0.25rem;
	$wrapper-gap: 0.25rem;

	.wrapper {
		position: relative;

		display: grid;
		gap: 0.25rem;
		margin-top: 0.25rem;

		&:focus-within {
			.label {
				color: var(--clr-accent-600);
				transform: translate(0, 0);
				opacity: 1;
			}
		}

		.error {
			position: absolute;
			top: 100%;
			left: 0;
			padding-top: 0.25rem;

			color: var(--clr-accent-600);
		}
	}

	.label {
		transform: translate(
			$input-x-padding,
			calc(($input-y-padding * 2 + $wrapper-gap) + 2ex)
		);

		opacity: 0.5;

		user-select: none;
		pointer-events: none;

		will-change: transform, opacity;
		transition-property: transform, opacity;
		transition: 200ms ease-out;
	}

	.input,
	.message {
		border: 0;
		border-radius: var(--rounded-sm);

		background-color: var(--clr-surface-700);
		filter: none;
		cursor: text;

		&:focus-visible {
			outline: 2px solid var(--clr-accent-400);
		}
	}
	.input {
		padding: $input-y-padding $input-x-padding;
	}

	.message {
		margin-top: 1rem;
		padding: 0.5rem;
		min-height: 8rem;
		max-height: calc(100vh - 30rem);
		resize: vertical;
	}

	.submit {
		border: 0;
		border-radius: var(--rounded-sm);
		padding: 0.5rem 1rem;

		width: fit-content;
		margin-inline: auto;

		background-color: var(--clr-surface-700);
		box-shadow: none;

		&--available {
			&:hover {
				color: var(--clr-accent-700);
				outline: 2px solid var(--clr-accent-400);
			}
			&:focus-visible {
				outline: 2px solid var(--clr-accent-400);
			}
		}
	}
}
