//? Here is I use to make the base elements of the page;

@use "../abstracts/" as *;

body {
	color: var(--clr-surface-100);
	background-color: var(--clr-surface-900);

	font-family: var(--font-serif);
}

.root {
}
