//? Here is I use to make the base elements of the page;

@use "../abstracts/" as *;

body {
	color: var(--clr-primary-10);
	background-color: var(--clr-primary-60);

	font-family: var(--font-serif);
}

.root {
}
