body {
	font-family: var(--font-serif);

	overflow: auto;
	overflow: overlay;

	scrollbar-width: thin;
	scrollbar-color: var(--clr-accent-400);

	&::-webkit-scrollbar {
		width: 2px;
		background-color: transparent;

		&-thumb {
			background-color: var(--clr-accent-400);
			background-image: linear-gradient(
				45deg,
				var(--clr-surface-900) 0%,
				var(--clr-accent-400) 50%,
				var(--clr-surface-900) 100%
			);
		}
	}
}

.scroll-style {
	overflow: auto;
	overflow: overlay;

	scrollbar-width: thin;
	scrollbar-color: var(--clr-accent-400);

	&::-webkit-scrollbar {
		width: 2px;
		height: 2px;
		background-color: transparent;

		&-thumb {
			background-color: var(--clr-accent-400);
			background-image: linear-gradient(
				45deg,
				var(--clr-surface-900) 0%,
				var(--clr-accent-400) 50%,
				var(--clr-surface-900) 100%
			);
		}
	}
}

.root {
	--orientation-container-width: 5.5rem;

	color: var(--clr-surface-100);
	background-color: var(--clr-surface-900);

	width: 100%;
}

.btm-accent {
	border: 1px solid currentColor;
	border-radius: var(--rounded-sm);
	padding: var(--size-3) var(--size-5);
	margin-inline-end: auto;

	color: var(--clr-accent-600);

	font-family: var(--font-mono);
	backdrop-filter: blur(0.25rem);

	will-change: background-color;
	transition: background-color 300ms ease-out;

	&:enter {
		background-color: hsl(var(--clr-accent-600-hsl) / 0.125);
	}
}
